<%= link_to("Back",:action=>"index",:class=>"index")%>

<div class="subjects show">
<h2>Update New Subject</h2>
<%= form_for(:subject,:url=>{:action=>'update',:id=>@subject.id}) do |f| %>
<table class="Subject form fields">
<tr>
	<th>Name</th>
	<td><%= f.text_field(:name) %></td>
</tr>
<tr>
	<th>Position</th>
	<td><%= f.text_field(:position) %></td>
</tr>
<tr>
	<th>Visible</th>
	<td><%= f.text_field(:visible) %></td>
</tr>
</table>
<div class="form-buttons">
<%=submit_tag("Update subject")%>
</div>
<% end %>
</div>